Source: nautilus-emailit
Section: utils
Priority: extra
Maintainer: Lorenzo Carbonell Cerezo <lorenzo.carbonell.cerezo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://www.atareao.es

Package: nautilus-emailit
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
	python,
	python-gi,
	python-cairo,
	gir1.2-nautilus-3.0,
	python-nautilus,
	sendemail
Description: An extension to send files by email
 An extension for Nautilus to send files by email
